<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-styles">
              Form Data
            </div>
            
            <div class="card-body">
              <h5 class="card-title " style="font-size: 24px; color: blue; font-weight: 700;">Enter Details </h5>
              <form [formGroup]="formdata">
             
                    <div class="mb-2">
                      
                        <input type="text" class="form-control" placeholder="First Name"  formControlName="firstname" required>
                        <p *ngIf="f.firstname.errors?.['required'] && f.firstname.touched"  class="form-text text-danger w-100 p-1">First Name  is  Required</p>
                        <p *ngIf="f.lastname.errors?.['pattern']" >Please
                                Use alphabets only </p>
                      </div>
                      
                    
                      
                      <div class=" mb-2"> 
                        
                        <input type="text" class="form-control" placeholder="Last Name"  formControlName="lastname" required>
                        <p  class="form-text text-danger w-100 p-1" *ngIf="f.lastname.errors?.['required'] && f.lastname.touched">
                          Last Name is Required.
                        </p>
                        <p class="text-danger" *ngIf="f.lastname.errors?.['pattern']">
                          Please use only alphabets.
                        </p>
                      </div>

                      <div class=" mb-2">
                        
                        <input type="email" class="form-control" placeholder="Email"  formControlName="email"  required>
                        <p *ngIf="f.email.errors?.['required'] && f.email.touched"  class="form-text text-danger w-100 p-1">Email  is  Required</p>
                        <p *ngIf="f.email.errors?.['pattern']" >Please Enter Valid Email  </p>
                      </div>
                   
                
                  
                    <div class=" mb-2">
                     
                        <input type="text" class="form-control" placeholder="Mobile Number" formControlName="mobilenumber" required>
                        <p *ngIf="f.mobilenumber.errors?.['required'] && f.mobilenumber.touched"  class="form-text text-danger w-100 p-1">Mobile Number is  Required</p>
                        <p *ngIf="f.mobilenumber.errors?.['pattern']" >Please
                                Enter Valid  Mobile Number </p>
                      </div>

                      <div class=" mb-2">
                   
                        <input type="number" class="form-control" placeholder="Age"  formControlName="age" required>
                        <p *ngIf="f.age.errors?.['required'] && f.age.touched"  class="form-text text-danger w-100 p-1">Age is  Required</p>
                        <p *ngIf="f.age.errors?.['pattern']" >Please
                                Number only </p>
                      </div>

                      <div class="mb-2">
                       
                        <input type="date" class="form-control" placeholder="DOB" formControlName="date" required >
                        <p *ngIf="f.date.errors?.['required'] && f.date.touched"  class="form-text text-danger w-100 p-1">Date is  Required</p>
                        <p *ngIf="f.date.errors?.['pattern']" >Please
                                select valid date </p>
                      </div>
                  
                    <div class="mb-2">
                       
                        <input type="text" class="form-control" placeholder="Place" formControlName="place" required >
                        <p *ngIf="f.place.errors?.['required'] && f.place.touched"  class="form-text text-danger w-100 p-1">Place  is  Required</p>
                        
                      </div>

                      <div class=" mb-2">
                      
                        <select class="form-select" aria-label="Default select example" aria-placeholder="Gender" formControlName="gender" required >
                           
                            <option selected disabled value="Gender">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                            
                          </select>
                          <p *ngIf="f.gender.errors?.['required'] && f.gender.touched"  class="form-text text-danger w-100 p-1">Gender  is  Required</p>
                       
                     </div>
                     
                 
                  <div class="col mt-1" >
                        
                        <button type="submit"  *ngIf="!isedit"  class="btn btn-primary m-1" (click)="onsubmit()">Submit</button>
                       
                        <button type="button" *ngIf="isedit" class="btn btn-success m-1" (click)="onsave()">Save</button>
                           
                        <button type="button" (click)="onCancel()" class="btn btn-danger m-1">Cancel</button>
                    </div>
                  
              </form>
            </div>
          </div>
   
    </div>
    <div class="col mt-3">
        <table class="table " >
            <thead class="table-danger">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Age</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userdata of ListofData ; let i = index">
                <th scope="row">{{i}}</th>
                <td>{{userdata?.firstname || 'NA'}}</td>
                <td>{{userdata?.lastname || 'NA'}}</td>
                <td>{{userdata?.email || 'NA' }}</td>
                <td>{{userdata?.mobilenumber || 'NA'}}</td>
                <td>{{userdata?.age || 'NA'}}</td>
                <td (click)="onedit(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                  </svg>
                </td>
                <td (click)="ondelete(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
</div>